@import url('reset.css');

body {
  width: 100%;
  height: 100%;
  background: #ccc;
  font: 14px/14px "Karla", sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.app__messages {
  position: relative;
  width: 750px;
  height: 1334px;
  background: url('../img/background-chat.png');
}

.bb {
  box-sizing: border-box;
}

.messages__header {
  box-sizing: border-box;
  background-color: #000;
  height: 10%;
  text-align: center;
}

.messages__header p {
  font: 34px/34px "Karla", sans-serif;
  font-weight: 100;
  position: relative;
  top: 50%;
  color: #fff;
}

.messages__section {
  box-sizing: border-box;
  height: 80%;
  overflow: scroll;
}

.messages__footer {
  height: 10%;
  width: 100%;
  background-color: #000;
  padding: 10px 20px;
  z-index: 100;
}

#myMessage {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  background-color: #000;
  border: none;
  resize: none;
  outline: none;
}

#sendMessage {
  z-index: 100;
  position: absolute;
  width: 120px;
  height: 120px;
  right: 50px;
  bottom: 70px;
  border-radius: 50%;
  border: none;
  background: url('../img/send_flight.png') no-repeat center;
  background-color: #FFBDB8;
}

#messages {
  padding: 50px;
  text-align: center;
}

.messages-item {
  box-sizing: border-box;
  display: inline-block;
  min-width: 400px;
  max-width: 600px;
  margin-bottom: 30px;
  padding: 20px 20px;
  background-color: #fff;
  color: #000;
  font-size: 30px;
  word-wrap: break-word;
  line-height: 40px;
  clear: both;
  box-shadow:  0px 10px 100px rgba(0,0,0,0.2);
}

.item__text {
  text-align: left;
  margin-bottom: 30px;
}

.item__username {
  text-align: right;
  font-size: 20px;
  color: #AD807D;
}