@import url('reset.css');

body {
  width: 100%;
  height: 100%;
  background: #ccc;
}

.container {
  width: 650px;
  margin: 0 auto;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.app__chat {
  position: relative;
  width: 750px;
  height: 1334px;
  background: url('../img/background.png');
}

.chat-name {
  font: bold 200px/220px "Karla", sans-serif;
  position: absolute;
  color: #fff;
  font-size: 200px;
  top: 10%;
  letter-spacing: -10px;
  z-index: 10;
  text-shadow: 0px 60px 80px rgba(0,0,0,0.2);
}

.chat__icon {
  position: relative;
  display: block;
  top: 290px;
  margin: auto;
}

.login-form {
  box-sizing: border-box;
  position: absolute;
  background: #fff;
  width: 650px;
  height: 540px;
  bottom: 140px;
  left: 50px;
  padding-top: 180px;
  text-align: center;
}

.username-field {
  box-sizing: border-box;
  position: relative;
  width: 490px;
  height: 105px;
  margin: 0 auto;
  text-align: left;
  border-bottom: 2px solid #000;
}

.username-field__label {
  font: bold 20px/20px "Karla", sans-serif;
  color: #AD807D;
  letter-spacing: 2px;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.username-field__input {
  font: 28px/28px "Karla", sans-serif;
  border: none;
  color: #000;
  width: 100%;
  height: 50px;
}

.login__enter-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  font: 26px/26px "Karla", sans-serif;
  border: none;
  margin-top: 20px;
  height: 120px;
  width: 100%;
  background: #00A0FF;
  color: #fff;
  text-transform: capitalize;
}

.login__enter-btn:hover {
  background: #0076BD;
}





