<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
  <title>Chat Room</title>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <script>
    $(document).ready(function() {
      
      var socket = io.connect('http://127.0.0.1:5000');

      socket.on('connect', function () {
        // socket.send("I'm here");
      });

      socket.on('disconnect', function () {
        socket.send('See you later');
      });

      socket.on('message', function (data) {
          $("#messages").append(
            $("<li>").attr('class', 'messages-item').append(
              $("<p>").attr('class', 'item__text').text(data.msg)
              ).append($("<p>").attr('class', 'item__username').text(data.username))
            );
      });

      $('#sendMessage').on('click', function() {
        if ($('#myMessage').val()) {
          socket.send($('#myMessage').val());
          $('#myMessage').val('');
        }
      });
    });
  </script>

  <div class="app">
    <div class="app__messages bb">
      <div class="messages__header bb">
        <p>Тестовое задание</p>
      </div>
      <div class="messages__section bb">
        <ul id="messages"></ul>
      </div>
      <div class="messages__footer bb">
        <textarea name="" id="myMessage" placeholder="Type message..."></textarea>
      </div>
      <button id="sendMessage"></button>
    </div>
  </div>

</body>
</html>
