<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <title>Chat for :DD</title>
</head>
<body>
  <div class="app">
    <div class="app__chat">
      <span class="chat-name">Chat</span>
      <img src="{{ url_for('static', filename='img/icon.png') }}" alt="chat icon" class="chat__icon">
      <div class="login-form">
        <form action="/login" method="GET">
          <div class="username-field">
            <p class="username-field__label">username</p>
            <input type="text" class="username-field__input" name='username' required>
          </div>
          <input type="submit" class="login__enter-btn" value="Get started">
        </form>
      </div>
    </div>
  </div>





</body>
</html>